:root {
    --white: hsl(0, 0%, 100%);
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.8rem, 0.6rem + 0.8vw, 1rem);
    font-weight: 500;
    color: var(--grey);
    background-color: var(--cream);
}

main {
    display: flex;
    flex-direction: column;
    width: clamp(375px, 0.8rem + 40vw, 40rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    max-inline-size: 100%;
    block-size: auto;
    margin: 0;
}

.product-img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0 0 1rem 1rem;
}

.product-type {
    letter-spacing: 0.5rem;
}

.product-name {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: clamp(1.4rem, 1.2rem + 1vw, 1.8rem);
    color: var(--black);
}

.prices {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.current-price {
    font-weight: 700;
    font-size: clamp(1.4rem, 1.2rem + 1vw, 1.7rem);
    color: var(--green-500);
}

.old-price {
    color: var(--grey);
    text-decoration: line-through;
    font-size: clamp(0.7rem, 0.5rem + 0.8vw, 0.9rem);
}

.add-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 3rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--green-500);
    border: 0;
    border-radius: 0.5rem;
    font-size: clamp(0.8rem, 0.6rem + 0.8vw, 1rem);
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: var(--green-700);
    cursor: pointer;
}

.add-btn:active {
    background-color: var(--cream);
}

.add-btn img {
    transform: scale(1.2);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .product-info-container {
        border-radius: 0 1rem 1rem 0;
        max-width: 16rem;
    }
    .product-img {
        max-width: 16rem;
        border-radius: 1rem 0 0 1rem;
        width: 50%;
        aspect-ratio: 2/3;
    }
}