:root {
    --white: hsl(0, 0%, 100%);
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: clamp(0.8rem, 0.6rem + 1vw, 1.2rem);
    font-weight: 500;
    background-color: var(--cream);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--white);
    width: clamp(375px, 0.8rem + 40vw, 40rem);
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
}